<!-- <div *ngFor="let pull of datePulls" (click)="acessCommit(pull.html_url)" >
    <div class="container">
        <div>
            <img src="{{pull.user.avatar_url}}" alt="" width="154px">
        </div>
        <div class="conteudo">
            <p>nome: {{pull.user.login}}</p>
            <p>data: {{pull.created_at}}</p>
        </div>
    </div>
    <p>Title: {{pull.title}}</p>
        <p>body: {{pull.body}}</p>
</div> -->


<nav>Story pulls</nav>
<div class="container">
    <mat-card *ngFor="let pull of datePulls" class="example-card" (click)="acessCommit(pull.html_url)">
        <mat-card-header>
            <img mat-card-avatar src="{{pull.user.avatar_url}}" alt="">
            <mat-card-title>{{pull.user.login}}</mat-card-title>
            <mat-card-subtitle>{{pull.created_at | date: 'yyyy/MM/dd HH:mm:ss'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="title">{{pull.title}}</p>
            <p class="body">{{pull.body}}</p>
        </mat-card-content>
    </mat-card>
</div>
