.example-card {
    width: 250px;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
nav{
    background-color: #24292e;
    padding: 16px;
    color: white;
}

nav h1 {
    text-align: center;
    margin: 0px;
}